@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 22px;
}

$heading: (h1, 40px, 48px, 700), (h2, 32px, 38px, 700), (h3, 28px, 32px, 600), (h4, 24px, 28px, 500), (h5, 20px, 24px, 500), (h6, 16px, 22px, 400), (p, 14px, 22px, 400);

@each $name, $font-size, $line-height, $font-weight in $heading {
    #{$name}{
        font-size: $font-size;
        line-height: $line-height;
        font-weight: $font-weight;
    }
    
}

$text-align: (left, center, right, justify);

@each $i in $text-align  {
    .text-#{$i}{
        text-align: $i;
    }
    
}

@for $i from 1 through 10 {
   .pt-#{$i*10}{
        padding-top: $i*10px;
    }
    .pb-#{$i*10}{
        padding-bottom: $i*10px;
    }
}