/* banner area style */

.banner-area {
    @include bg;
    height: 100vh;

    .banner-content {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        
        h5 {
            font-weight: 300;
        }

        h1 {
            margin: 15px 0px;
            font-size: 60px;
        }

        .banner-btn {
            a {
                margin: 20px 10px 0px;
            }
        }
    }
}